<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="testngselenium"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
    <mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS">
        <mapEntry key="com.simplilearn.testngselenium.AssersionsDemo" value="titleTest;afterMethod;beforeMethod;login"/>
        <mapEntry key="com.simplilearn.testngselenium.FacebookTest" value="login;beforeMethod;afterMethod;launchFb"/>
        <mapEntry key="com.simplilearn.testngselenium.GroupTest" value="login;loginWithFirefox;launchChrome;launchFireFox"/>
        <mapEntry key="com.simplilearn.testngselenium.SimpleTestNG" value="beforeMethod;afterClass;afterSuite;beforeTest;method1;beforeSuite;beforeClass;afterTest;afterMethod;method2"/>
        <mapEntry key="com.simplilearn.testngselenium.TestNg1" value="testTrue"/>
    </mapAttribute>
    <listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
        <listEntry value="com.simplilearn.testngselenium.FacebookTest"/>
        <listEntry value="com.simplilearn.testngselenium.GroupTest"/>
        <listEntry value="com.simplilearn.testngselenium.SimpleTestNG"/>
        <listEntry value="com.simplilearn.testngselenium.TestNg1"/>
        <listEntry value="com.simplilearn.testngselenium.AssersionsDemo"/>
    </listAttribute>
    <listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
    <listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
    <stringAttribute key="org.testng.eclipse.PRE_DEFINED_LISTENERS" value=""/>
    <intAttribute key="org.testng.eclipse.TYPE" value="1"/>
</launchConfiguration>
